.list {
    .list-inner {
        padding: 20px;
        border: 1px solid #E8E8E8;
        border-radius: 5px;
        .list-table {
            width: 100%;
            border-spacing: 0;
            .list-head {
                background: #E8E8E8;
                tr {
                    th {
                        padding: 10px 20px;
                        text-align: left;
                        &:first-child {
                            border-top-left-radius: 5px;
                            border-bottom-left-radius: 5px;
                        }
                        &:last-child {
                            border-top-right-radius: 5px;
                            border-bottom-right-radius: 5px;
                        }
                    }
                }
            }
            .list-body {
                tr {
                    td {
                        padding: 10px 20px;
                        border-bottom: 1px solid #E8E8E8;
                        .delete {
                            background: #E8E8E8;
                            color: #000;
                            border-radius: 100%;
                            padding: 5px 9px;
                            border: 1px solid #E8E8E8;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            -webkit-box-pack: center;
                            -ms-flex-pack: center;
                            justify-content: center;
                            cursor: pointer;
                            transition: all 0.3s;
                            &:focus, &:visited {
                                outline: none;
                            }
                            &:hover {
                                background: #00cc99;
                                border-color: #00cc99;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 850px) {
    .list {
        .list-inner {
            padding: 0;
        }
    }
}

@media only screen and (max-width: 768px) {
    .list {
        .list-inner {
            .list-table {
                .list-head, .list-body {
                    tr {
                        th, td {
                            padding: 10px 5px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 620px) {
    .list {
        .list-inner {
            .list-table {
                .list-head, .list-body {
                    tr {
                        th, td {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .list {
        .list-inner {
            .list-table {
                .list-head, .list-body {
                    tr {
                        th, td {
                            padding: 5px 0;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}