.menu {
    .menu-links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        background: #00cc99;
        a {
            text-decoration: none;
            .menu-link {
                padding: 20px;
                color: #fff;
                cursor: pointer;
                transition: all 0.3s;
                &:hover {
                    background: #fff;
                    color: #00cc99;
                }
            }
        }
        .active {
            .menu-link {
                background: #fff;
                color: #00cc99;
            }
        }
    }
}